body {
  background-color: gray;
  background-image: url(aca7e1225ad761fc4abf88af3afdde05.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #FFF;
  color: #FFF;
  font-size: 1.8em; }

